
<div class="pfl">
<br><h1>Sign up to create a Zodic Profile</h1>


<% if @user.errors.any? %>
<ol> 

  <% @user.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>

<% end %>
</ol>
<% end %>



<br><%= form_for @user do |f| %>


 <br><%= f.label :email, :class => 'form-label' %>
  <%= f.email_field :email, :class => 'form-control' %>

  <br><%= f.label :password, :class => 'form-label' %>
  <%= f.password_field :password, :class => 'form-control' %>

  <br><%= f.label :password_confirmation, :class => 'form-label' %>
  <%= f.password_field :password_confirmation, :class => 'form-control'  %>

    <br><br><%= f.submit "Sign up!", :class => 'btn btn-outline-primary' %>
  <% end %>

</div>

