<!DOCTYPE html>
<html>
  <head>
    <title>Astro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h2><nav>
  <%= link_to "Home", root_path %>
  <% if @current_user.present? %>
    <%= link_to "Sign out", login_path, :method => 'delete' %>
  <% else %>
  <%= link_to "Sign up", new_user_path %> 
  <%= link_to "Sign in", login_path %>
 <% end %>
  </nav>
</h2>
    <%= yield %>
  </body>
</html>
